body{
    background-color: rgb(40,47,75);
}
#Home_Container{
    border: 10px black solid;
    width: 99%;
    height: 100vh; /* Use viewport height units */
    overflow: auto; /* Enable scrolling if content overflows */
    margin-left: 10px;
    margin-top: 2%;
    background-color: rgb(127,229,212);
}
#Title{
    /* display: flex;
    justify-content: center; */
    border: 10px black solid;
    height: 10vh;
    text-align: center;
    background-color: rgb(127,229,212);
}
#Line1{
    /* border: 10px black solid; */
    width: 99%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
#Line2{
    /* border: 10px black solid; */
    width: 99%;
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 5%; */
}
#Line3{
    border: 10px black solid;
    width: 99%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
#Home1{
    /* border: 10px black solid; */
    width: 20%;
}
#Home2{
    /* border: 10px black solid; */
    width: 20%;
}
#Home3{
    /* border: 10px black solid; */
    width: 20%;
}
#Home4{
    /* border: 10px black solid; */
    width: 20%;
}

.text_box{
    border: 10px black solid;
    height: 12vh;
    width: 70%;
    margin-left: 14%;
    background-color: white;
}
.img_box{
    border: 10px black solid;
    height: 20vh;
    margin-top: 10%;
    background-color: white;
}
button{
    /* margin-top: 10%; */
    margin-left: 4%;
    width: 20%;
    height: 3vh
}
.button_container{
    /* border: 10px black solid; */
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
#Desc_container{
    border: 10px black solid;
    width: 27.9%;
    margin-left: 70%;
    height: 99vh;
    position: absolute;
    background-color: antiquewhite;
    display: none;
    overflow-y: hidden;
}
@media (max-width: 568px){
    .text_box{
        font-size: xx-small;
    }
    
    #img_box{
        width: 30%
    }
    #Home1{
        width: 50%
    }
    #Home2{
        width: 50%
    }
    #Home3{
        display: none
    }
    #Home4{
        display: none
    }
    #Title{
        height: 22vh;
        margin-left: 10%
    }
    button{
        width: 25%;
        height: 5vh;
    }
    #Desc_container{
        margin-left: 0%;
        width: 90%;
        height: 98vh 
    }
}