body{
    background-color: rgb(40,47,75);
}
#saved_houses{
    /* border: 10px black solid; */
    width: 20%;
}

.text_box{
    border: 10px black solid;
    height: 12vh;
    width: 70%;
    margin-left: 14%;
    background-color: white;
}
.img_box{
    border: 10px black solid;
    height: 20vh;
    margin-top: 10%;
    background-color: white;
}

#welcome_message{
    color: white;
    border-radius: 25px;
    font-size: xx-large;
    text-align: center;
    background-color: rgb(20,27,55);
    border: 5px solid rgb(127,229,212);
}

#saved_houses{
    color: black;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}

@media (max-width: 568px){
    #saved_houses{
        /* border: 10px black solid; */
        width: 70%;
        font-size: xx-small;
    }
}