body{
    background-color: rgb(65, 141, 166);
}

#welcome_message{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border-radius: 25px;
    font-size: xx-large;
    text-align: center;
    background-color: blue;
    border: 5px solid darkblue;
}

#saved_houses{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-align: center;
    font-size: x-large;
}
